# Credenciais
BATEPONTO_SENHA=seu_pin_aqui
BATEPONTO_URL=https://bateponto.pontotel.com.br/
FERIADOS_API_KEY=sua_chave_de_api_correta_da_feriados_api  # Substitua pela sua chave correta

# Horários dos 4 pontos (formato HH:MM)
HORARIO_ENTRADA=08:00
HORARIO_PAUSA=12:50
HORARIO_RETORNO=13:50
HORARIO_SAIDA=17:00

# Configuração geral
TIMEOUT_PADRAO=15
INTERVALO_EXECUCAO=60
