selenium==4.8.0
pystray==1.0.1
Pillow==9.2.0
requests==2.27.1
python-dotenv==0.20.0
pytest==7.4.0
pytest-mock==3.11.1

# Dependências exclusivas do Windows
pygetwindow==0.6.0; sys_platform == "win32"
pyautogui==0.9.53; sys_platform == "win32"
